# Sprite files I don't want in the repo (possible copyright and/or owner permission requirements):
MinecraftSheet_24x20.png
frogger.png
mrs_pacman.gif
mrs_pacman_16x16.png
pacman_spritesheet.png

### BBB PRU and C-code and eeprom derived objects (compiled binaries):
*.bin
c-code/ledgrid
data.eeprom
misc/cape_eeprom_creator/c-version/mkeeprom
eeprom.bin

### BBB:
*.dtbo

### VI:
*~
*.swp

### C-code:

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex


### PYTHON:

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

